body{
	background-color: blue;
}

.block{
	height: 70px;
	width: 70px;
	background-color: white;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
}

section {
	width: 300px;
	padding-left: 100px;
}

.blockdiv {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-left: 100px;
	margin-top: 40px;
}

.margin{
	margin-right: 30px;
}

.google-map {
	width: 63px;
	height: 197px;
	}

input {
	padding: 10px;
	color: white;
	border: none;
	background-color: blue;
	border-bottom:3px solid lightcyan;
}

button {
	padding: 10px;
}

label {
	color: white;
}

form {
	display: flex;
	flex-direction: column;
}

.final {
	display: flex;
	flex-direction: row;
	padding-top: 60px;
	justify-content: space-between;
	padding-right: 200px;

}

.div1 {
	display: flex;
	flex-direction: column;
}

.forms {
	align-items: center;
}